@use '../abstracts/variables';

.expanded-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25.6rem;
  margin: 0 -2.6rem;
  padding: 4.8rem 2.6rem;
  background-color: rgba(variables.$primary-black, 0.95);

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;

    .label {
      font-size: 1rem;
      letter-spacing: 2px;
    }

    .info {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

/* Tablet media queries */

@media (min-width: 712px) {
  .expanded-info {
    margin: 0 -6.4rem;
    padding: 0 6.4rem;

    .info-container {
      flex-direction: column;
      align-items: start;
      margin-bottom: 2.4rem;

      .label {
        font-size: 1.3rem;
      }

      .info {
        font-size: 4rem;
      }
    }
  }
}

/* Desktop media queries */

@media (min-width: 1020px) {
  .expanded-info {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -16.5rem;
    padding: 7.4rem 0 7.4rem 16.5rem;

    .info-container {
      width: 50%;
      margin: 0 0 4.2rem 0;
      justify-content: center;

      .label {
        margin-bottom: 0.9rem;
        font-size: 1.5rem;
      }

      .info {
        font-size: 5.6rem;
      }
    }
  }
}