@use '../abstracts/variables';

.random-quotes {
  display: flex;
  font-size: 1.2rem;

  p {
    display: flex;
    flex-direction: column;
    line-height: 22px;

    cite {
      font-weight: bold;
    }
  }

  button {
    width: 2rem;
    height: 2rem;
    margin-left: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

/* Tablet media queries */

@media (min-width: 712px) {
  .random-quotes {
    font-size: 1.8rem;

    q {
      margin-bottom: 1.3rem;
    }
  }
}