@use '../abstracts/variables';

.button-expanded {
  display: flex;
  width: 11.5rem;
  height: 3.9rem;
  margin-top: 48px;
  margin-bottom: 40px;
  padding: 0.3rem 0.4rem 0.3rem 2.1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3.75px;
  color: rgba(variables.$secondary-black, 0.5);
  background-color: variables.$primary-white;
  border: none;
  border-radius: 999px;
  outline: none;

  .icon-wrapper {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background-color: variables.$secondary-black;
    border-radius: 50%;
  }
}

/* Tablet media queries */

@media (min-width: 712px) {
  .button-expanded {
    width: 14.6rem;
    height: 5.6rem;
    padding: 0.8rem 0.9rem 0.8rem 2.8rem;
    font-size: 1.6rem;
    letter-spacing: 5px;

    .icon-wrapper {
      width: 4rem;
      height: 4rem;
    }
  }
}